[Unit]
Description=Scraper Service
After=network.target

[Container]
Image=ghcr.io/dadapunk/scraper-service:latest
Network=host
EnvironmentFile=/etc/scraper-service/.env
AutoUpdate=registry

[Service]
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
